# Игнорирование временных файлов
*~
*.swp
*.pyc

# Игнорирование файлов базы данных SQLite
db.sqlite3

# Игнорирование файлов миграций Django
/appmountain/migrations/
/appusers/migrations/
media/photos/lifters/default


secret_key.txt
settings.py