{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <ul>
        <h2>В разработке</h2>
        <li><p>Какие есть развлечения (сани, бублики и тд)(ЧАСТИЧНО)</p></li>
        <li><p>набор кафе(средний чек в кафе)(ЧАСТИЧНО)</p></li>
        <li><p>прокат</p></li>
        <li><p>наличие инструкторов</p></li>
        <li><p>Прайсы</p></li>
        <li><p>Закрепить навбар сверху</p></li>
        <li><p>Сделать фон реальных фоток на страницах гор</p></li>
        <li><p>Покрытие тестами БД (ЧАСТИЧНО)</p></li>
        <li><p>Переход на постгрес БД</p></li>
        <li><p>Переход на HTTPS</p></li>
        <li><p>Переписать полностью about.html</p></li>
        <li><p>Переписать, добавить теги</p></li>
        <li><p>Сортировка по тегам</p></li>
        <li><p>Гостиничные комплексы и инфраструктуры</p></li>
        <li><p>Рейтинг(категории) переделать в звездочки?(обсуждается)</p></li>
        <li><p>Расстояние (дефолт екб) и заданное до горы</p></li>
    </ul>
    <hr>
    <ul>
        <h2>Добавлено</h2>
        <li><p>Карта с точками гор</p></li>
        <li><p>иконки подъемников на главную страницу и внутри шаблона(какие и количество)(ЧАСТИЧНО)</p></li>
        <li><p>линк на гору вписать в шаблоны</p></li>
        <li><p>Кнопка "редактировать" для каждой горы на главной странице</p></li>
        <li><p>Добавить метрику сезонности места</p></li>
        <li><p>Виджет погоды</p></li>
        <li><p>Сложность трасс на курортах с графическим отображением и аннотацией</p></li>
        <li><p>график работы (ЧАСТИЧНО)</p></li>
    </ul>
    <p><iframe width="1152"
               height="648"
               src="https://www.youtube.com/embed/UGdif-dwu-8"
               title="As the Crow Flies | Full Snowboarding Movie (4K)"
               frameborder="0"
               allow="accelerometer;
               autoplay;
               clipboard-write;
               encrypted-media;
               gyroscope;
               picture-in-picture;
               web-share" allowfullscreen></iframe></p>
    <p><a href="{% url 'index' %}">На главную</a></p>
{% endblock content %}