{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <ul>
        <h2>В разработке</h2>
        <li><p>Какие есть развлечения (сани, бублики и тд)</p></li>
        <li><p>набор кафе</p></li>
        <li><p>прокат</p></li>
        <li><p>наличие инструкторов</p></li>
        <li><p>график работы</p></li>
        <li><p>картиник подъемников на главную страницу и во внутрь каждого шаблона(какие и количество)</p></li>
        <hr>
        <li><p>Карта с тачками гор</p></li>
        <li><p>линк на гору вписать в шаблоны</p></li>
        <li><p>Прайсы</p></li>
        <li><p>Закрепить навбар сверху</p></li>
        <li><p>Добавить метрику сезонности места</p></li>
        <li><p>Обновить актуальную информацию по горам в БД</p></li>
        <li><p>Сделать фон реальных фоток на страницах гор</p></li>
        <li><p>Покрытие тестами БД</p></li>
        <li><p>Переход на постгрес БД</p></li>
        <li><p>Переход на HTTPS</p></li>
        <li><p>Переделать about.html</p></li>
        <li><p>Переписать теги</p></li>
        <li><p>Сортировка по тегам</p></li>
        <li><p>Кнопка "редактировать" на главную страницу</p></li>
        <li><p>Кнопка изменить на главную страницу</p></li>
        <li><p>Гостиничные комплексы и инфраструктуры</p></li>
        <li><p>Рейтинг(категории) переделать в звездочки?</p></li>
        <li><p>Расстояние (дефолт екб) и заданное до горы</p></li>
    </ul>
    <hr>
    <ul>
        <h2>Добавлено</h2>
        <li><p>Виджет погоды</p></li>
        <li><p>Сложность трасс на курортах с графическим отображением и аннотацией</p></li>
    </ul>
    <p><a href="{% url 'index' %}">На главную</a></p>
{% endblock content %}