{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    {% include 'appmountain/includes/nav.html' %}
    <ul class="content">
        {% for post in posts %}
            {% if post.is_published %}
                <li>
                    <div class="article-panel">
                        <p class="first">Категория: {{ post.cat }}</p>
                        <p class="last">Дата: {{ post.date_updated|date:'d-m-Y H:i:s' }}</p>
                    </div>
                    {% if post.photo %}
                        <p><img class="img-article-left" src="{{ post.photo.url }}" alt=""></p>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    {% autoescape off %}
                        <p>{{ post.description|linebreaks|truncatewords:50 }}</p>
                    {% endautoescape %}
                    <div class="clear"></div>
                    <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Подробнее..</a></p>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% include 'appmountain/includes/nav.html' %}


{% endblock content %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page=1">&laquo;</a>
                    </li>
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:+2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    <li class="page-num">
                        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    </li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock navigation %}