{% extends 'base.html' %}


{% block breadcrumbs %}

{%  if mountain.weather != 0 %}
    <a class="weatherwidget-io" href="{{ mountain.weather }}" data-label_1="{{ mountain.title }}" data-label_2="Погода сейчас" data-font="Trebuchet MS" data-icons="Climacons Animated" data-days="3" data-theme="weather_one" >{{ mountain.title }} Погода сейчас</a>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){js=d.createElement(s);
                js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>

{% endif %}

    {% if perms.appmountain.change_mountains %}
        <p><a href="{% url 'edit_mountain' mountain.slug %}">Редактировать</a></p>
    {% endif %}

    <!-- Теги -->
    {% with mountain.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li>Теги:</li>
                {% for tag in tags %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ mountain.title }}</h1>
    {% if mountain.photo %}
        <p><img class="img-article-left" src="{{ mountain.photo.url }}" alt="nothing"></p>
    {% endif %}
    {{ mountain.description|linebreaks }}



{% endblock content %}