{% extends 'base.html' %}


{% block breadcrumbs %}
    <!-- Теги -->
    {% with mountain.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li>Теги:</li>
                {% for tag in tags %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ mountain.title }}</h1>

    {% if mountain.photo %}
        <p><img class="img-article-left" src="{{ mountain.photo.url }}" alt="nothing"></p>
    {% endif %}

    {{ mountain.description|linebreaks }}
{% endblock content %}