{% extends 'base.html' %}


{% block breadcrumbs %}

    <!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="https://ost1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
<div id="gsInformerID-01MJu0lSws76At" class="gsInformer" style="width:230px;height:202px">
    <div class="gsIContent">
        <div id="cityLink">
            <a href="https://www.gismeteo.ru/weather-moscow-4368/" target="_blank" title="Погода в Москве">
                <img src="https://ost1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Москве">
            </a>
            </div>
        <div class="gsLinks">
            <table>
                <tr>
                    <td>
                        <div class="leftCol">
                            <a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
                                <img alt="Погода" src="https://ost1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                <img src="https://ost1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                            </a>
                            </div>
                            <div class="rightCol">
                                <a href="https://www.gismeteo.ru/weather-moscow-4368/2-weeks/" target="_blank" title="Погода в Москве на 2 недели">
                                    <img src="https://ost1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Москве на 2 недели">
                                </a>
                            </div>
                        </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=01MJu0lSws76At"></script>
<!-- Gismeteo informer END -->

    {% if perms.appmountain.change_mountains %}
        <p><a href="{% url 'edit_mountain' mountain.slug %}">Редактировать</a></p>
    {% endif %}

    <!-- Теги -->
    {% with mountain.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li>Теги:</li>
                {% for tag in tags %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ mountain.title }}</h1>
    {% if mountain.photo %}
        <p><img class="img-article-left" src="{{ mountain.photo.url }}" alt="nothing"></p>
    {% endif %}
    {{ mountain.description|linebreaks }}



{% endblock content %}