#header {
    background: #54bdff;
}

#header, .module caption {
    background: #2a7198;
}

div.breadcrumbs {
    background: #264b5d;
}

.module h2, .module caption, .inline-group h2 {
    background: #2a7198;
}